* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    text-align: center;
    
}

img {
    width: 22%;
    height: 22%;
    margin: none;
   
}

button{
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    font-size: 15px;
    border: none;
}

button#btnCadastrar{
    background-color: #b201ff;
    color: white;
}


div.main-botoes button{
    width: 200px;
    margin: 0 auto;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  display: none; /* 👈 começa oculta */
}